.kontent-broadcast {
    height: 520px;
    width: 100%;
}

.box-broadcast {
    text-align: center;
    width: 60%;
    border-radius: 10px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4D68AE;
    box-sizing: border-box;
    padding: 20px;
}

.judul-broadcast {
    color: #E6E6E6;
    font-size: 20px;
    margin-bottom: 20px;
}

.isi-broadcast textarea {
    width: 80%;
    height: 280px;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.tombol-broadcast {
    margin: auto;
    margin-top: 10px;
    height: 40px;
    width: 350px;
    line-height: 40px;
    background-color: #74B243;
    box-sizing: border-box;
    border-radius: 10px;
    color: #E6E6E6;
}

.tombol-broadcast:hover {
    margin: auto;
    margin-top: 10px;
    height: 40px;
    width: 350px;
    line-height: 40px;
    background-color: #D79E31;
    box-sizing: border-box;
    border-radius: 10px;
    color: #E6E6E6;
}