.kritik-kontent {
    height: 530px;
}

.judul-isian {
    width: 80%;
    margin: 20px auto;
    /* margin: auto; */
}

.tabel {
    margin: 20px 0px;

}

h3 {
    text-align: center;
}